<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxc.oj.mapper.ProblemTagMapper">

    <resultMap id="BaseResultMap" type="com.wxc.oj.model.req.problem.ProblemTag">
            <id property="problemId" column="problem_id" jdbcType="BIGINT"/>
            <id property="tagId" column="tag_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        problem_id,tag_id
    </sql>
</mapper>
